<!--Tabla creada para mostrar los productos del carrito-->
<table class="table table-bordered">
    <thead>     
        <tr>
            <th>Producto</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        {% if request.session.CARRO_videojuegos or request.session.CARRO_jugetes or request.session.CARRO_consolas %}
            {% for key, value in request.session.CARRO_videojuegos.items %}
                <tr class="text-center">
                    <td><img src="{{ value.imagen }}" alt="{{ value.nombre }}" style="width: 50px;"></td>
                    <td>{{ value.nombre }}</td>
                    <td>{{ value.precio }}</td>
                    <td>{{ value.Stock }}</td>
                    <td>
                        <a href="{% url 'carro_Videojuegos:add_GAME2' value.videojuego_id %}" class="btn btn-sm btn-secondary">+</a>
                        <a href="{% url 'carro_Videojuegos:minus_GAME2' value.videojuego_id %}" class="btn btn-sm btn-danger">-</a>
                    </td>   
                </tr>
            {% endfor %}
            {% for key, value in request.session.CARRO_jugetes.items %}
                <tr class="text-center">
                    <td><img src="{{ value.imagen }}" alt="{{ value.nombre }}" style="width: 50px;"></td>
                    <td>{{ value.nombre }}</td>
                    <td>{{ value.precio }}</td>
                    <td>{{ value.Stock }}</td>
                    <td>
                        <a href="{% url 'carro_Jugetes:add_GAMEJGT2' value.jugeteid %}" class="btn btn-sm btn-secondary">+</a>
                        <a href="{% url 'carro_Jugetes:minus_GAMEJGT2' value.jugeteid %}" class="btn btn-sm btn-danger">-</a>
                    </td>   
                </tr>
            {% endfor %}
            {% for key, value in request.session.CARRO_consolas.items %}
                <tr class="text-center">
                    <td><img src="{{ value.imagen }}" alt="{{ value.nombre }}" style="width: 50px;"></td>
                    <td>{{ value.nombre }}</td>
                    <td>{{ value.precio }}</td>
                    <td>{{ value.Stock }}</td>
                    <td>
                        <a href="{% url 'carro_Consolas:add_CONSOLA2' value.consolaid %}" class="btn btn-sm btn-secondary">+</a>
                        <a href="{% url 'carro_Consolas:minus_CONSOLA2' value.consolaid %}" class="btn btn-sm btn-danger">-</a>
                    </td>   
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <th colspan="5">
                    <div class="alert alert-danger text-center">
                        No Hay Productos
                    </div>
                </th>
            </tr>
        {% endif %}
    </tbody>
</table>




