{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEGA-GAMES - Carrito de Compras</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/2149d9dbc7.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand mr-4" href="{% url 'index' %}">
                    <img src="{% static 'img/MegaGames.jpeg' %}" alt="Icono mega games" style="width: auto; height: 50px; margin-left: 10px;">
                    MEGA GAMES
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'juego' %}">JUEGOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'consolas' %}">CONSOLAS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'jugetes' %}">JUGUETES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'edicion' %}">EDICION</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contacto' %}">CONTACTANOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">REGISTRO</a>
                          </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="{% url 'carrito' %}" class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fa-solid fa-cart-shopping"></i>&nbsp;Carrito</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'perfil' %}" class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fa-solid fa-user"></i>Perfil</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<main class="container-fluid color-letra-blanco">
    <section class="container-fluid mt-5">
        <div id="containerCarro" class="container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5 color-letra-blanco">
            <h1 class="color-letra-blanco">Carrito de Compras</h1>

            {% if user.is_authenticated %}
                <!-- Mostrar el contenido del carrito -->
                {% include "carrito/widget.html" %}

                <!-- Precio final de la compra -->
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="color-letra-blanco">Total del Carrito: ${{ precio_total }}</h4>
                    <div>
                        <form action="{% url 'limpiar_carrito' %}" method="post" class="limpiar-carritos-form">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Confirmar Compras</button>
                        </form>
                    </div>
                </div>
            {% else %}
                <!-- Mostrar el botón de login si no está autenticado -->
                <div class="alert alert-warning" role="alert">
                    Debes iniciar sesión para ver tu carrito de compras.
                </div>
                <a href="#" class="btn btn-primary">Iniciar Sesión</a>
            {% endif %}

            <!-- Espacio -->
            <div class="container">&nbsp;</div>
            <!-- Botón volver al menú -->
            <div class="container row">
                <a href="{% url 'index' %}" class="btn btn-secondary my-2 my-sm-0" style="font-size: 1.25rem; padding: 10px 20px;" type="submit">Volver al Menu Principal</a>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            &nbsp;
        </div>
    </section>
</main>

<footer class="pie-pagina">
    <div class="cinta">
        <div class="imagen-container">
            <img src="https://8-bits.cl/cdn/shop/files/download_7159b25d-c6c6-4c59-8170-53852fa64719_300x300.jpg?v=1713201223" alt="PlayStation 5">
        </div>
        <div class="imagen-container">
            <img src="https://8-bits.cl/cdn/shop/files/download_8baac7eb-4225-4e13-b12e-daae7a9a6cb0_300x300.jpg?v=1713200987" alt="Xbox Series X">
        </div>
        <div class="imagen-container">
            <img src="https://8-bits.cl/cdn/shop/files/download_124c15d6-3357-4331-9cb2-c23ec55dde1b_300x300.jpg?v=1713200861" alt="Nintendo Switch">
        </div>
        <!-- Repite las imágenes para crear el efecto de scroll infinito -->
        <div class="imagen-container">
            <img src="https://8-bits.cl/cdn/shop/files/download_7159b25d-c6c6-4c59-8170-53852fa64719_300x300.jpg?v=1713201223" alt="PlayStation 5">
        </div>
        <div class="imagen-container">
            <img src="https://8-bits.cl/cdn/shop/files/download_8baac7eb-4225-4e13-b12e-daae7a9a6cb0_300x300.jpg?v=1713200987" alt="Xbox Series X">
        </div>
        <div class="imagen-container">
            <img src="https://8-bits.cl/cdn/shop/files/download_124c15d6-3357-4331-9cb2-c23ec55dde1b_300x300.jpg?v=1713200861" alt="Nintendo Switch">
        </div>
        <div class="imagen-container">
            <img src="https://8-bits.cl/cdn/shop/files/download_7159b25d-c6c6-4c59-8170-53852fa64719_300x300.jpg?v=1713201223" alt="PlayStation 5">
        </div>
        <div class="imagen-container">
            <img src="https://8-bits.cl/cdn/shop/files/download_8baac7eb-4225-4e13-b12e-daae7a9a6cb0_300x300.jpg?v=1713200987" alt="Xbox Series X">
        </div>
        <div class="imagen-container">
            <img src="https://8-bits.cl/cdn/shop/files/download_124c15d6-3357-4331-9cb2-c23ec55dde1b_300x300.jpg?v=1713200861" alt="Nintendo Switch">
        </div>
        <div class="imagen-container">
            <img src="https://8-bits.cl/cdn/shop/files/download_7159b25d-c6c6-4c59-8170-53852fa64719_300x300.jpg?v=1713201223" alt="PlayStation 5">
        </div>
        <div class="imagen-container">
            <img src="https://8-bits.cl/cdn/shop/files/download_8baac7eb-4225-4e13-b12e-daae7a9a6cb0_300x300.jpg?v=1713200987" alt="Xbox Series X">
        </div>
        <div class="imagen-container">
            <img src="https://8-bits.cl/cdn/shop/files/download_124c15d6-3357-4331-9cb2-c23ec55dde1b_300x300.jpg?v=1713200861" alt="Nintendo Switch">
        </div>
        <div class="imagen-container">
            <img src="https://8-bits.cl/cdn/shop/files/download_7159b25d-c6c6-4c59-8170-53852fa64719_300x300.jpg?v=1713201223" alt="PlayStation 5">
        </div>
        <div class="imagen-container">
            <img src="https://8-bits.cl/cdn/shop/files/download_8baac7eb-4225-4e13-b12e-daae7a9a6cb0_300x300.jpg?v=1713200987" alt="Xbox Series X">
        </div>
        <div class="imagen-container">
            <img src="https://8-bits.cl/cdn/shop/files/download_124c15d6-3357-4331-9cb2-c23ec55dde1b_300x300.jpg?v=1713200861" alt="Nintendo Switch">
        </div>
    </div>
    <div class="grupo-1 mt-3">
        <div class="box">
            <figure>
                <a href="">
                    <img src="{% static 'img/pagos_online.png' %}" alt="pagos_online">
                </a>
            </figure>
        </div>
        <div class="box">
            <h1>Sobre Nosotros</h1>
            <p>
                Megagames lidera la industria del entretenimiento digital con juegos innovadores y de calidad,
                ganando reconocimiento global y lealtad de fans. Nos comprometemos a seguir cautivando la
                imaginación de jugadores de todas las edades con nuestras aventuras virtuales.
            </p>
        </div>
        <div class="box">
            <h2>Síguenos</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2024 <b>MegaGames</b> - Todos Los derechos reservados.</small>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>