{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Videojuegos</title>
</head>
<body>
    <h1>Lista de Videojuegos raw</h1>
    <ul>
        {% for videojuego in videojuegos %}
            <li>
                <h2>{{ videojuego.nombre }}</h2>
                <p><strong>Descripción:</strong> {{ videojuego.descripcion }}</p>
                <p><strong>Precio:</strong> ${{ videojuego.precio }}</p>
                <p><strong>Consolas:</strong> {{ videojuego.consolas }}</p>
                <p><strong>Stock:</strong> {{ videojuego.stock }}</p>
                <img src="{{ videojuego.url_imagen }}" alt="{{ videojuego.nombre }}" width="200">
            </li>
        {% endfor %}
    </ul>
</body>
</html>