{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Consolas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="mt-5 text-white">Listado de Consolas</h1>

        <div class="row mt-3">
            {% for consola in consolas %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if consola.imagen %}
                    <img src="{{ consola.imagen.url }}" class="card-img-top" alt="{{ consola.nombre }}">
                    {% elif consola.url_imagen %}
                    <img src="{{ consola.url_imagen }}" class="card-img-top" alt="{{ consola.nombre }}">
                    {% else %}
                    <img src="#" class="card-img-top" alt="Imagen por defecto">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ consola.nombre }}</h5>
                        <p class="card-text"><strong>Precio:</strong> ${{ consola.precio }}</p>
                        <p class="card-text"><strong>Stock:</strong> {{ consola.stock }}</p>
                        <a href="{% url 'editar_consola' consola.nombre %}" class="btn btn-secondary">Editar</a>
                        <a href="{% url 'eliminar_consola' consola.nombre %}" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <a href="{% url 'consola_crear' %}" class="btn btn-success mt-3">Agregar Nueva Consola</a>
        <a href="{% url 'index' %}" class="btn btn-success mt-3">Ir al index</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>